.register-popup {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  &__container {
    position: relative;
    max-width: 280px;
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    padding: 50px 0;
    text-align: center;
  }
  &__close-button {
    position: absolute;
    top: -26px;
    right: 0;
    width: 20px;
    height: 20px;
  }
  &__text {
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #000000;
  }
  &_active {
    display: flex;
  }
}
